:host {
  header nav{
    justify-content: space-between;
    ul {
      padding: 0 60px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 20px;
    }
  }

  main {
    background-color: #eee;
    min-height: calc(100vh - 56px);
  }

  .search-group {
    display: flex;
    align-items: center;
    gap: 20px;
    
    .search-input {
      height: 35px;
      width: 250px;
      border-radius: 10px;
    }
  }


}